html
{
	background-color: #06223E;
}

body
{
	font-family: sans-serif;
	font-size: 1emm;
	line-height: 1.5em;
}

img
{
    
}

h1
{
	text-align: center;
	color: #ffd91e;
    
}

h2
{
	color: red;
	text-transform: uppercase;
}

h3
{
	text-align: center;
	text-transform: uppercase;
}

#main
{
	background-color: white;
	padding: 0em 10em 1em;
	padding-top: 10px;
}

#mainhome
{
	background-color: white;
	padding: 0em 1em 1em;
	padding-top: 10px;
	margin:700px 10px 10px 10px;
}

#footer
{
	text-align: center;
	color: royalblue;
	font-size: 0.9em;
}

#menu
{
	list-style-type: none;
	margin: 0;
	padding-bottom: 7px;
	overflow: hidden;
}

#items
{
	float: left;
}

 a:link, a:visited
 {
	 display: block;
	 width: 120px;
	 font-weight: bold;
	 color: white;
	 text-align: center;
	 padding: 4px;
	 text-decoration: none;
	 text-transform: uppercase;
 }
 a:hover, a:active
 {
	 color: #ff5c2c;
 }
 #hyperlink
 {
	 display: inline;
	 font-weight: 100;
	 color: blue;
	 background-color: white;
	 padding: 0px;
	 text-decoration: underline;
	 text-transform: none;
 }
  
 table
 {
	 width: 100%;
	 table-layout: fixed;
 }
 
 td
 {
	 padding: 50px;
	 vertical-align: top;
 }
 
 iframe
 {
	 border: 0;
	 width: 100%;
	 height: 550px;
 }
 
 #contact
 {
	 float: right;
 }
 
 .container
 {
	 max-width: 600px;
	 margin: 0 auto;
	 padding: 80px 0;
	 height: 400px;
	 text-align:center;
	 margin-top: 5%;
 }

#sidebar {
    position: absolute;
    top: 236px;
    right: 20px;
    left: 10px;
    bottom: 10px;
    width: 200px;
    height: 544px;
    background: white;
    border-style: solid;
}
 
 form
 {
	 padding: 20px 0px;
	 position: relative;
 }
 
 form input
 {
	 outline: 0;
	 border: 1px solid rgba(100,100,255,0.4);
	 background-color:(100,100,255,0.2);
	 width: 250px;
	 border-radius: 3px;
	 padding: 10px 15px;
	 margin: 10px auto 2opx auto;
	 display: block;
	 text-align: center;
	 font-size: 18px;
	 color: black;
	 -webkit-transition-duration:0.25s;
			transition-duration: 0.25s;
	 font-weight: 300; 
 }
 
.form-home-button {

	 outline: 0;
	 background-color:(100,100,255,0.2);
	 width: 250px;
	 border-radius: 3px;
	 padding: 10px 15px;
	 margin: 10px auto 20px auto;
	 display: block;
	 text-align: center;
     
 }

 form input:hover
 {
	 background-color: orange;
 }
 
 form input:focus
 {
	 background-color:yellow;
	 width: 300px;
	 color: #53e3a6;
 }
 
 form button
 {
	 background-color: white;
	 outline: 0;
	 border:0;
	 padding: 10px 15px;
	 color: #53e3a6;
	 border-radius: 3px;
	 width: 250px;
	 cursor: pointer;
	 font-size: 18px;
 }
 form button:hover
 {
		background-color: #ff006e;
 }
 
 #go
 {
	text-align: center; 
	animation: change 3s step-end both;
 }
 
 .background-wrap
 {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
 }
 
 #video-bg-elem
 {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
 }
 
 .content
 {
	 position: absolute;
	 width: 100%;
	 min-height: 100%;
	 z-index: 1000;
 }
 
 .content h1
 {
	 text-align: center;
	 font-weight: 300; 
	 color: #fff;
	 padding-top: 15%;
	 margin-bottom: 10px;
}
 
.content p
{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #aaa;
}

#picminimize
{
	width: 1333px;
	height: 487px;
	
}

#underline
{
	text-decoration: underline;
}

#HCB_comment_box textarea {
    height:400px;
  }
 .alert {
    padding: 20px;
    background-color: #2196F3;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
  
#link {
    
     display: inline;
	 width: none;
	 font-weight: none;
	 color: blue;
	 text-align: none;
	 padding: none;
	 text-decoration: none;
	 text-transform: none;
    
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 64%;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 10000; /* Sit top */
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

input[type="radio"] {
  display: inline;
  position: absolute;
  left: 30px;
}

@keyframes change {
    from { color: orangered }
    to   { color: green }
}

.movecover {
    
    padding: 35px;
}

 #logo {
            
     margin-top: -20px;
     width: 100px;
     float: left;
     margin-right: 8px; 
    }

#line {
    
    border: 2px solid #3E3241;
}